* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Urbanist', sans-serif;
}

/* Nav */


nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2% 7% 10px 9%;
    margin-bottom: 45px;
    border-bottom: 12px solid lightgrey;
}

.home-link {
    text-decoration: none;
    color: black;
    align-self: flex-end;
}

h1 {
    font-size: 40px;
    margin: 0;
}

.saved-destinations {
    display: flex;
    align-items: end;
    text-decoration: none;
    color: black;
    align-self: flex-end;
}

.saved-destinations:hover,
.home-link:hover {
    text-decoration: underline;
}

.plane-icon {
    width: 30px;
    height: 30px;
}

h3 {
    margin: 0 0 1px 5px;
}


/*  */


.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
}

.searchbar-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 60px;
}

.searchbar {
    width: 70%;
    font-family: inherit;
    font-size: 1rem;
    padding: 10px 30px;
    margin: 0 auto;
    position: absolute;
}

.clear-input {
    position: relative;
    height: 30px;
    width: 30px;
    background: lightgrey;
    border-radius: 50%;
    border: none;
    top: 6px;
    left: 33%;
    font-weight: bold;
}

.clear-input:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.suggested-container,
.saved-container {
    display: grid;
    grid-row-gap: 20px;
    padding: 0 40px 30px 40px;
    min-width: 100%;
    min-height: 200px;
    overflow-x: hidden;
}

.suggested-item,
.saved-item {
    display: grid;
    grid-template-columns: .4fr .5fr 1.5fr 1.2fr 2fr .7fr;
    grid-column-gap: 70px;
    padding: 0 30px;
    font-size: 18px;
}

.saved-item {
    grid-template-columns: .5fr .5fr 1.5fr 1.2fr 2fr .7fr;
}

.suggested-item.header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 45px;
}

.saved-item.header {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

.header :first-child {
    font-size: 16px;
}

.saved-item.header :first-child p {
    color: grey;
    font-style: italic;
    font-size: 10px;
}

.bold {
    background: #ffff66;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.flag {
    height: auto;
    width: 50px;
}

.trash-container {
    margin: 0 7% 0 auto;
    width: 35%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 40px;
}

.trash {
    width: 35px;
    height: 35px;
    margin-left: 5px;
}

.trash:hover {
    cursor: pointer;
}



/* Media queries  */

@media only screen and (max-width: 830px) {

    .responsive-grid-item-1 {
        display: none;
    }

    .suggested-item,
    .saved-item {
        font-size: 14px;
        grid-template-columns: .5fr .7fr 1.2fr 1fr;
        grid-column-gap: 30px;
    }

    .suggested-item.header,
    .saved-item.header {
        font-size: 14px;
        grid-template-columns: .5fr .7fr 1.2fr 1fr;
        grid-column-gap: 30px;
    }

    .suggested-container,
    .saved-container {
        padding: 0 60px 30px;
    }
}


@media only screen and (max-width: 500px) {

    nav {
        padding: 5% 7% 10px 9%;
    }

    .responsive-grid-item-2 {
        display: none;
    }

    .suggested-item,
    .saved-item {
        font-size: 14px;
        grid-template-columns: .5fr 1.2fr 1fr;
        grid-column-gap: 30px;
    }

    .suggested-item.header,
    .saved-item.header {
        font-size: 14px;
        grid-template-columns: .5fr 1.2fr 1fr;
        grid-column-gap: 30px;
    }

    .suggested-container,
    .saved-container {
        padding: 0 20px 30px;
    }

    .header :first-child {
        font-size: 12px;
    }

    .saved-item.header :first-child p {
        font-size: 7px;
    }

    .searchbar-container {
        margin-bottom: 10px;
    }

    .searchbar {
        font-size: 12px;
        color: black;
        padding: 8px 15px;
    }

    .clear-input {
        width: 22px;
        height: 22px;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 15px;
    }

    .plane-icon {
        width: 20px;
        height: 20px;
    }

    .trash-container {
        font-size: 12px;
    }
}